@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .myContainer {
    width: 100%;
    @apply mx-auto px-5 xl:px-[100px];
  }
  @media (min-width: 640px) {
    .myContainer {
      max-width: 640px;
    }
  }
  @media (min-width: 768px) {
    .myContainer {
      max-width: 768px;
    }
  }
  @media (min-width: 1024px) {
    .myContainer {
      max-width: 1024px;
    }
  }
  @media (min-width: 1280px) {
    .myContainer {
      max-width: 1280px;
    }
  }
  @media (min-width: 1440px) {
    .myContainer {
      max-width: 1440px;
    }
  }
}
